@import url('../static/fonts.css'); 

body {
    background-color: #060606;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    margin-top: 10%;
    color: #e4e4e4;
}

.text-container p{
  font-family: Roboto;
  font-size: 30px;
}

.contact {
    text-align: justify;
    font-size: 18px;
    width: 55%;
}

.contact h1{
    margin-top: -2%;
    margin-bottom: 5%;
    text-align: left;
    font-family: 'Press Start';
    font-size: 70px;
}

.contact ul{
  font-family: Roboto;
  text-align: left;
  font-size: 24px;
  margin-left: 5%;
  margin-top: 5%;
}

.contact a {
    text-decoration: none;
    cursor: pointer;
    color: #57a6eb;
    transition: all 0.5s ease;
}

.contact a:hover{
    color: #e4e4e4;
    text-decoration: underline;
    transform: scale(1.05);
}


@media only screen and (max-width: 1368px) {
    header{
        background-color: #f3f3f300 !important;
        z-index: 1;
    }

    .contact{
        margin-top: 5%;
        width: 60%;
    }
}

@media only screen and (max-width: 960px) {
    .contact {
        margin-top: 8%;
    }
}

@media only screen and (max-width: 820px) {
    .contact {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 560px) {
    .contact {
        width: 80%;
        margin-top: 25%;
    }
}

@media only screen and (max-width: 400px) {
    .contact {
        margin-top: 35%;
    }
}


@media only screen and (max-width: 330px) {
    .contact {
        margin-top: 45%;
    }
}