@font-face {
	font-family: 'Press Start';
	src: url('fonts/Press\ Start/PressStart.eot?#iefix') format('embedded-opentype'),
	url('fonts/Press\ Start/PressStart.eot'),
	url('fonts/Press\ Start/PressStart.woff') format('woff'), 
	url('fonts/Press\ Start/PressStart.woff2') format('woff2'), 
	url('fonts/Press\ Start/PressStart.ttf')  format('truetype'),
	url('fonts/Press\ Start/PressStart.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto/Roboto-Regular.eot'),
	url('fonts/Roboto/Roboto-Regular.woff') format('woff'), 
	url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'), 
	url('fonts/Roboto/Roboto-Regular.ttf')  format('truetype'),
	url('fonts/Roboto/Roboto-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Fira Mono';
	src: url('fonts/Fira\ Mono/FiraMono.eot?#iefix') format('embedded-opentype'),
	url('fonts/Fira\ Mono/FiraMono.eot'),
	url('fonts/Fira\ Mono/FiraMono.woff') format('woff'), 
	url('fonts/Fira\ Mono/FiraMono.woff2') format('woff2'), 
	url('fonts/Fira\ Mono/FiraMono.ttf')  format('truetype'),
	url('fonts/Fira\ Mono/FiraMono.svg') format('svg');
}